<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<header>
		</header>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/openmap">Open Map</a></li>
	        		<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kvonkrus@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kvonkrusenstiern">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/kate-von-krusenstiern-a84b89a9?trk=hp-identity-name">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
